<div class="row justify-content-md-center">
  <div class="col-sm-6">
    <div class="card my-5">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="contact.name" class="form-control" id="name" name="name"
                   placeholder="Enter your name"
                   required #name="ngModel">
            <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
          </div>
          <div class="form-group">
            <label for="patient">Patient</label>
            <select type="text" [(ngModel)]="contact.patient" class="form-control" id="patient" name="patient"
                    required #patient="ngModel">
              <option *ngFor="let patient of patients" [ngValue]="patient">{{patient.name}}</option>
            </select>
            <div [hidden]="!patient.pristine" class="alert alert-danger">patient is required</div>
          </div>
          <div class="form-group">
            <label for="patient">Patient</label>
            <select type="text" [(ngModel)]="contact.patient" class="form-control" id="patient" name="patient"
                    required #patient="ngModel">
              <option *ngFor="let patient of patients" [ngValue]="patient">{{patient.name}}</option>
            </select>
            <div [hidden]="!patient.pristine" class="alert alert-danger">patient is required</div>
          </div>
          <button type="submit" [disabled]="!contactForm.form.valid" class="btn btn-info">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

